{% extends 'base.html.twig' %}

{% block title %}Experience index{% endblock %}

{% block body %}
    <h1>Experience index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titreposte</th>
                <th>NomEntreprise</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td>{{ experience.id }}</td>
                <td>{{ experience.Titreposte }}</td>
                <td>{{ experience.NomEntreprise }}</td>
                <td>{{ experience.DateDebut ? experience.DateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ experience.DateFin ? experience.DateFin|date('Y-m-d') : '' }}</td>
                <td>{{ experience.Description }}</td>
                <td>
                    <a href="{{ path('app_admin_experience_show', {'id': experience.id}) }}">show</a>
                    <a href="{{ path('app_admin_experience_edit', {'id': experience.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_experience_new') }}">Create new</a>
{% endblock %}
