<div class="d-flex">
{% for experience in experiences %}
<div class="container cardcontainerexp w-25 mt-4">
<div class="card cardstyle bg-primary">
    <img src="https://images.unsplash.com/photo-1556888335-95371827d5fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2831&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nom de l'entreprise : {{experience.nomentreprise}}</h5>
      <p class="card-text fw-bold text-intermediate">Titre du poste : {{experience.titreposte}}</p>
      <p class="card-text fw-bold text-intermediate">Description : {{experience.description}}</p>
      <p class="card-text fw-bold text-intermediate">Date de début : {{experience.dateDebut| date('Y-m-d')}}</p>
      <p class="card-text fw-bold text-intermediate">Date de fin : {{experience.datefin| date('Y-m-d')}}</p>
    </div>
      <a href="#" class="btn btn-secondary rounded-pill w-40 m-auto mb-3">Voir plus</a>
    </div>
  </div>
  {% endfor %}
</div>