<div class="d-flex">
{% for formation in formations %}
<div class="container-fluid cardexpcontainer d-flex flex-wrap">
<div class="card cardstyle bg-primary mt-4 w-75 m-auto">
    <img src="https://images.unsplash.com/photo-1556888335-95371827d5fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2831&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nom de l'entreprise : {{formation.nomEtablissement}}</h5>
      <p class="card-text fw-bold text-secondary"> <p>Diplome obtenu : {{formation.diplome}}</p></p>
      <p class="card-text fw-bold text-intermediate">Date de début : {{formation.dateDebut| date('Y-m-d')}}</p>
      <p class="card-text fw-bold text-intermediate">Date de fin : {{formation.dateFin| date('Y-m-d')}}</p>
      <p class="card-text fw-bold text-intermediate">Description : {{formation.description}}</p>
    </div>
      <a href="#" class="btn btn-secondary rounded-pill w-40 m-auto mb-3">Voir plus</a>
    </div>
  </div>
  {% endfor %}
</div>