<div class="d-flex">
  {% for formation in formations %}
  <div class="container">
    <div class="card bg-transparent mt-3">
      <div class="face face1">
        <div class="content">
          <img src="https://image.flaticon.com/icons/svg/681/681611.svg" alt="">
          <h5 class="card-title text-light text-center">{{formation.nomEtablissement}}</h5>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p class="card-text fw-bold text-intermediate">Date de début : {{formation.dateDebut| date('Y-m-d')}}</p>
          <p class="card-text fw-bold text-intermediate">Date de fin : {{formation.dateFin| date('Y-m-d')}}</p>
        </div>
    
          <a href="{{ path('app_competence') }}" class="btn btn-secondary rounded-pill w-40 m-auto mb-3">Voir plus</a>
        </div>
      <div class="face face2 bg-intermediate">
        <div class="content p-0">
          <p class="card-text fw-bold text-black text-center">{{formation.diplome}}</p>
          <p class="card-text fw-bold text-light">{{formation.description}}</p>
        </div>
    </div>
  </div>
  </div>
      {% endfor %}
  </div>