<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Thyphen's Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_experience') }}">Expériences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_formation') }}">Formations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_competence') }}">Compétences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_hobbie') }}">Hobbies</a>
        </li>
        <li class="nav-item">
          {% if is_granted('ROLE_ADMIN') %}
          <a class="nav-link" href="{{ path('app_admin') }}" class="text-primary fw-bold text-decoration-none p-2">Admin</a>
          {% else %}
          <a class="nav-link" href="{{ path('app_login') }}">Login</a>
          {% endif %}
        </li>
      </ul>
      </div>
      </div>
    </nav>