{% extends 'base.html.twig' %} {% block body %}
<div class="containerhello d-flex justify-content-center">
    <div class="title fs-1 fw-bold pt-3">Bienvenue sur mes Experiences</div>
</div>
<div class="containerexperience w-50 pt-5">
    <div class="title fs-3">Experiences</div>
    <div class="experiencecontent">
        {% for experience in experiences %}
        <h3>Titre du poste : {{experience.titreposte}}</h3>
        <p>Nom de l'entreprise : {{experience.nomentreprise}}</p>
        <ul>
            <li>Date de début : {{experience.dateDebut| date('Y-m-d')}}</p>
            <li>Date de fin : {{experience.datefin| date('Y-m-d')}}</p>
            <li> Missions : {{experience.description}}</p>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}